html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #bee8e7;
}

.container {
    padding: 0 20px;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

.entry span {
    color: red;
}

@media only screen and (max-width: 600px) {
    .entries {
        display: flex;
        flex-direction: column;
    }

    .entry {
        flex: 0 0 100%;
        background-color: white;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 0 20px 0;
    }    
}


@media only screen and (min-width: 501px) {
    .entries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .entry {
        flex: 0 0 calc(50% - 1rem);
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
  .entries {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .entry {
      flex: 0 0 calc(33.33% - 1rem);
      margin-bottom: 20px;
  }   
}

.entry .button {
    display: inline-block;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    border-radius: 20px;

}