html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    background: #f5a142;
    background: linear-gradient(to right, #ff4100, #e67453);
    padding: 0;
}

.container {
    background-color: white;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1000px;
    padding: 10px;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    background: #03A9F4;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

header a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 10px;
    }

    .site-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }

    header nav {
        display: flex;
        flex-direction: row;
    }

    header a {
        margin-right: 10px
    }
}

/* Main content */

.flex-container {
    display: flex;
    flex-direction: column;
}

aside {
    color: white;
    order: -1;
    background-color: #03A9F4;
}

aside h2 {
    text-align: center;
}

.blog {
    margin-bottom: 10px;
}

.blog ul {
    list-style: none;
}

.blog a {
    color: white;
    text-decoration: none;
}

.services {
    display: flex;
    flex-direction: column;
}

.services h2 {
    text-align: center;
}

.service {
    padding: 5px 0;
}

.service-1 {
    background-color: red;
}

.service-2 {
    background-color: purple;
}

.service-3 {
    background-color: blue;
}

@media screen and (min-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    aside {
        order: 1;
        flex: 0 0 40%;
    }

    .main-content {
        flex: 0 0 calc(60% - 1rem);
    }

    .services {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .service {
        flex: 0 0 calc(33.33% - 0.5rem);
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
}
