img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font: 1.6rem;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

@media (min-width: 480px) {
    .entry {
        flex: 0 0 calc(50% - 1rem);
    }
}